In [ ]:
import pandas as pd 
data = {'name': pd.Series(['Braund', 'Cumings', 'Heikkinen', 'Allen'], index=['a', 'b', 'c', 'd']),
    'age': pd.Series([22, 38, 26, 35], index=['a', 'b', 'c', 'd']),
    'fare': pd.Series([7.25, 71.83, 8.05], index=['a', 'b', 'd']),
    'survived?': pd.Series([False, True, True, False], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(data)
df

In [ ]:
df[['name', 'age']] # Show selected columns

In [ ]:
df['name'] # Show selected column

In [ ]:
df.name # A shortcut

In [ ]:
df.loc['a']  # Show selected row in a column form

In [ ]:
df[df['age'] >= 30]  # Show only rows that comply with a condition

In [ ]:
df['survived?'][df['age'] >= 30] # Show only rows from a selected column that comply with a condition

In [ ]:
series = pd.Series(['Braund', 'Cumings', 'Heikkinen', 'Allen'], index=['a', 'b', 'c', 'd'])
series['a']

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
df.head() # 5 first rows

In [ ]:
df.tail() # 5 last rows

In [ ]:
df.loc[['a']]  # Select by location based indexing

In [ ]:
df.iloc[[0]] # Select by integer-location based indexing

In [ ]:
df[(df.age > 30) & (df.fare < 10)] # Filter with multiple conditions

In [ ]:
import numpy as np
df[['age', 'fare']].apply(np.mean)  # Apply a function to selected columns

In [ ]:
df.age.map(lambda x: x >= 25)   # Map if a condition is met

In [ ]:
df.applymap(lambda x: x>= 25) # Map if a condition is met to whole dataframe

In [ ]:
cuteness = pd.Series([1, 2, 3, 4, 5], index=['Cockroach', 'Fish', 'Mini Pig',
                                                 'Puppy', 'Kitten'])
print(cuteness > 3)
print("")
print(cuteness[cuteness > 3])

In [ ]:
from pandas import DataFrame, Series

def create_dataframe():
    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
    df = {'countries': Series(countries), 'gold': Series(gold), 
          'silver': Series(silver), 'bronze': Series(bronze)}
    
    # No need to use pd.Series:
    # df = {'countries': countries, 'gold': gold, 
    #      'silver': silver, 'bronze': bronze}
          
    olympic_medal_counts_df = DataFrame(df)
    
    return olympic_medal_counts_df

In [ ]:
sample = create_dataframe()

In [ ]:
import numpy
from pandas import DataFrame, Series

def points():
 

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
 
    data = {'country_name': countries, 'gold': gold, 'silver': silver, 'bronze': bronze}
    df = DataFrame(data)
    
    df['points'] = df[['gold', 'silver', 'bronze']].dot([4, 2, 1])
  
    olympic_points_df = df[['country_name', 'points']]
    
    return olympic_points_df

In [ ]:
baseball_data = pandas.read_csv('master.csv')
baseball_data['height_plus_weight'] = baseball_data['height'] + baseball_data['weight']  # Create new columns
baseball_data.to_csv('baseball_data_with_weight_height.csv')

In [ ]:
import pandasql
import pandas as pd

# path = 'https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/aadhaar_data.csv'
def select_first_50(filename):
    aadhaar_data = pd.read_csv(filename)
    aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)
    
    q = '''
    SELECT gender, district, sum(aadhaar_generated) FROM aadhaar_data WHERE age>50 GROUP BY gender, district
    '''
    
    solution = pandasql.sqldf(q.lower(), locals())
    return solution

In [ ]:
select_first_50('aadhaar_data.csv')

In [ ]:
import pandas
import pandasql

def aggregate_query(filename):
    # Read in our aadhaar_data csv to a pandas dataframe.  Afterwards, we rename the columns
    # by replacing spaces with underscores and setting all characters to lowercase, so the
    # column names more closely resemble columns names one might find in a table.
    
    aadhaar_data = pandas.read_csv(filename)
    aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)

    # Write a query that will select from the aadhaar_data table how many men and how 
    # many women over the age of 50 have had aadhaar generated for them in each district.
    # aadhaar_generated is a column in the Aadhaar Data that denotes the number who have had
    # aadhaar generated in each row of the table.
    #
    # Note that in this quiz, the SQL query keywords are case sensitive. 
    # For example, if you want to do a sum make sure you type 'sum' rather than 'SUM'.
    #

    # The possible columns to select from aadhaar data are:
    #     1) registrar
    #     2) enrolment_agency
    #     3) state
    #     4) district
    #     5) sub_district
    #     6) pin_code
    #     7) gender
    #     8) age
    #     9) aadhaar_generated
    #     10) enrolment_rejected
    #     11) residents_providing_email,
    #     12) residents_providing_mobile_number
    #
    # You can download a copy of the aadhaar data that we are passing 
    # into this exercise below:
    # https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/aadhaar_data.csv
        
    q = '''
    SELECT gender, district, sum(aadhaar_generated) FROM aadhaar_data WHERE age > 50 GROUP BY gender, district;
    '''

    # Execute your SQL command against the pandas frame
    aadhaar_solution = pandasql.sqldf(q.lower(), locals())
    
    return aadhaar_solution

In [ ]:
aggregate_query('aadhaar_data.csv')

**Application Programming Interface** API  <br>
**Representational State Transfer** REST API

In [ ]:
import json
import requests

if __name__=="__main__":
    url = 'http://blabla'
    data = requests.get(url).text
    data = json.loads(data)   # Interprets a string and assumes it is a json object
    print(type(data))
    print(data)
    data['artist']

In [ ]:
if __name__=="__main__":
    url = 'http://blabla'
    data = requests.get(url).text
    data = json.loads(data)  
   `data['topartists']['artists'][0]['name']

In [ ]:
# Data Sanity Check
pd.read_csv('filename')   # 25/50/75 percentile

Dealing with missing data: <br>
partial deletion: 
- listwise deletion (exclude a particilar data point from all analysis even if some usuful values were present)
- pairwise deletion (exclude a particular case from the analysis for tasks that are not possible with the data at hand)<br><br>
imputation: approximation of missing values (includes biases and inaccuracies):
- inpute with a mean value
- inpute using linear regression

In [ ]:
def imputation(filename):
    baseball = pd.read(filename)
    baseball['weight'] = baseball['weight'].fillna(np.mean(baseball['weight']))
    return baseball

## NY underground weather dataset
https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv'

In [ ]:
import pandas as pd
import pandasql

# Count number of rainy days 

def num_rainy_days(filename):

    weather_data = pd.read_csv(filename)

    q = """
    SELECT COUNT(*) FROM weather_data WHERE cast(rain as integer)==1;
    """
    
    rainy_days = pandasql.sqldf(q.lower(), locals())
    return rainy_days

In [ ]:
num_rainy_days('weather_underground.csv')

In [ ]:
# Return the maximum temperature reached depending on if the weather was foggy or not
def max_temp_aggregate_by_fog(filename):

    weather_data = pd.read_csv(filename)

    q = """
    SELECT fog, MAX(cast(maxtempi as integer)) FROM weather_data GROUP BY fog ;
    """
    
    foggy_days = pandasql.sqldf(q.lower(), locals())
    return foggy_days

In [ ]:
max_temp_aggregate_by_fog('weather_underground.csv')

In [ ]:
def avg_weekend_temperature(filename):
 
    weather_data = pd.read_csv(filename)

    q = """
    SELECT AVG(cast (meantempi as integer)) FROM weather_data 
    WHERE cast (strftime('%w', date) as integer) == 0 OR
          cast (strftime('%w', date) as integer) == 6
    """
    
    mean_temp_weekends = pandasql.sqldf(q.lower(), locals())
    return mean_temp_weekends

In [ ]:
avg_weekend_temperature('weather_underground.csv')

In [ ]:
def avg_min_temperature(filename):

    weather_data = pd.read_csv(filename)

    q = """
    SELECT AVG(mintempi) FROM weather_data WHERE cast(rain as integer)==1 AND cast(mintempi as integer)>55
    """
    avg_min_temp_rainy = pandasql.sqldf(q.lower(), locals())
    return avg_min_temp_rainy

In [ ]:
avg_min_temperature('weather_underground.csv')

In [ ]:
# Turnstile data: http://web.mta.info/developers/data/nyct/turnstile/turnstile_110507.txt

In [ ]:
import csv

def fix_turnstile_data(filenames):

    for name in filenames:
        
        with open(name, 'rb') as f:
            reader = csv.reader(f, delimiter=' ')

            new_name = "updated_" + filename
        with open(new_name, 'wb') as f:
            writer = csv.writer(f)
            writer.writerows(someiterable)

In [ ]:
a = [1, 2, 3, 4, 5, 6]
a[2:]

In [ ]:
a[:4]

In [ ]:
for i in range(3, 43, 5):
    print(i, i+4)

In [ ]:
import csv

filename = 'turnstile-110528.txt'
new_name = "updated_" + filename

with open(filename, 'rt') as f:
    reader = csv.reader(f)
    
    with open(new_name, 'wt') as f:
        writer = csv.writer(f)
            
        for row in reader:
    
            for i in range(3, len(row), 5): 
                updated_row = row[:3] + row[i:i+5]
          
                writer.writerow(updated_row)

In [ ]:
def create_master_turnstile_file(filename, output_file):
    '''
    Write a function that takes the files in the list filenames, which all have the 
    columns 'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn', and consolidates
    them into one file located at output_file.  There should be ONE row with the column
    headers, located at the top of the file. The input files do not have column header
    rows of their own.
    
    For example, if file_1 has:
    line 1 ...
    line 2 ...
    
    and another file, file_2 has:
    line 3 ...
    line 4 ...
    line 5 ...
    
    We need to combine file_1 and file_2 into a master_file like below:
     'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn'
    line 1 ...
    line 2 ...
    line 3 ...
    line 4 ...
    line 5 ...
    '''
    with open(output_file, 'w') as master_file:
        master_file.write('C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn\n')
        #for filename in filenames:
        with open(filename, 'r') as file:
            master_file.write(str(file.read()))

In [ ]:
create_master_turnstile_file('updated_turnstile-110528.txt', 'turnstile_output')

In [ ]:
import pandas as pd

def filter_by_regular(filename):
    '''
    This function should read the csv file located at filename into a pandas dataframe,
    and filter the dataframe to only rows where the 'DESCn' column has the value 'REGULAR'.
    
    For example, if the pandas dataframe is as follows:
    ,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    1,A002,R051,02-00-00,05-01-11,04:00:00,DOOR,3144335,1088159
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    3,A002,R051,02-00-00,05-01-11,12:00:00,DOOR,3144424,1088231
    
    The dataframe will look like below after filtering to only rows where DESCn column
    has the value 'REGULAR':
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    '''
    
    turnstile_data = pd.read_csv(filename)
    turnstile_data = turnstile_data[turnstile_data['DESCn'] == "REGULAR"] 
   
    return turnstile_data

In [ ]:
df = filter_by_regular('turnstile_output')
df.head()

In [ ]:
def get_hourly_entries(df):
    '''
    The data in the MTA Subway Turnstile data reports on the cumulative
    number of entries and exits per row.  Assume that you have a dataframe
    called df that contains only the rows for a particular turnstile machine
    (i.e., unique SCP, C/A, and UNIT).  This function should change
    these cumulative entry numbers to a count of entries since the last reading
    (i.e., entries since the last row in the dataframe).
    
    More specifically, you want to do two things:
       1) Create a new column called ENTRIESn_hourly
       2) Assign to the column the difference between ENTRIESn of the current row 
          and the previous row. If there is any NaN, fill/replace it with 1.
    
    You may find the pandas functions shift() and fillna() to be helpful in this exercise.
    
    Examples of what your dataframe should look like at the end of this exercise:
    
           C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn    EXITSn  ENTRIESn_hourly
    0     A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312   1088151                1
    1     A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335   1088159               23
    2     A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353   1088177               18
    3     A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424   1088231               71
    4     A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594   1088275              170
    5     A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808   1088317              214
    6     A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895   1088328               87
    7     A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905   1088331               10
    8     A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941   1088420               36
    9     A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094   1088753              153
    10    A002  R051  02-00-00  05-02-11  16:00:00  REGULAR   3145337   1088823              243
    ...
    ...

    '''
    df["ENTRIESn_hourly"] = df["ENTRIESn"] - df["ENTRIESn"].shift(periods=1)
    df = df.fillna(1)
    
    return df

In [ ]:
new = get_hourly_entries(df)
new.head()

In [ ]:
def get_hourly_exits(df):
    '''
    The data in the MTA Subway Turnstile data reports on the cumulative
    number of entries and exits per row.  Assume that you have a dataframe
    called df that contains only the rows for a particular turnstile machine
    (i.e., unique SCP, C/A, and UNIT).  This function should change
    these cumulative exit numbers to a count of exits since the last reading
    (i.e., exits since the last row in the dataframe).
    
    More specifically, you want to do two things:
       1) Create a new column called EXITSn_hourly
       2) Assign to the column the difference between EXITSn of the current row 
          and the previous row. If there is any NaN, fill/replace it with 0.
    
    You may find the pandas functions shift() and fillna() to be helpful in this exercise.
    
    Example dataframe below:

          Unnamed: 0   C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn    EXITSn  ENTRIESn_hourly  EXITSn_hourly
    0              0  A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312   1088151                0              0
    1              1  A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335   1088159               23              8
    2              2  A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353   1088177               18             18
    3              3  A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424   1088231               71             54
    4              4  A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594   1088275              170             44
    5              5  A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808   1088317              214             42
    6              6  A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895   1088328               87             11
    7              7  A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905   1088331               10              3
    8              8  A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941   1088420               36             89
    9              9  A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094   1088753              153            333
    '''
    
    df["EXITSn_hourly"] = df["EXITSn"] - df["EXITSn"].shift(periods=1)
    df = df.fillna(0)
    return df

In [ ]:
def time_to_hour(time):
    '''
    Given an input variable time that represents time in the format of:
    "00:00:00" (hour:minutes:seconds)
    
    Write a function to extract the hour part from the input variable time
    and return it as an integer. For example:
        1) if hour is 00, your code should return 0
        2) if hour is 01, your code should return 1
        3) if hour is 21, your code should return 21
        
    Please return hour as an integer.
    '''
    hour = int(time[:2])
    return hour

In [17]:
import datetime

def reformat_subway_dates(date):
    '''
    The dates in our subway data are formatted in the format month-day-year.
    The dates in our weather underground data are formatted year-month-day.
    
    In order to join these two data sets together, we'll want the dates formatted
    the same way.  Write a function that takes as its input a date in the MTA Subway
    data format, and returns a date in the weather underground format.
    
    Hint: 
    There are a couple of useful functions in the datetime library that will
    help on this assignment, called strptime and strftime. 
    More info can be seen here and further in the documentation section:
    http://docs.python.org/2/library/datetime.html#datetime.datetime.strptime
    '''

    date_formatted = datetime.datetime.strptime(date, '%m-%d-%y')
    date_formatted.strftime('%Y-%m-%d')
    return date_formatted

In [18]:
reformat_subway_dates('03-30-93')

datetime.datetime(1993, 3, 30, 0, 0)