# Step 1: simple heuristic

In [ ]:
# Titanic dataset (kaggle)
path = 'https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/titanic_data.csv'

In [ ]:
import numpy
import pandas
import statsmodels.api as sm

def simple_heuristic(file_path):
    predictions = {}
    df = pandas.read_csv(file_path)
    for passenger_index, passenger in df.iterrows():  # An iterator containing index of each row and the data in each row as a Series 
        passenger_id = passenger['PassengerId']

        if passenger['Sex'] == 'female':
            predictions[passenger_id] = 1
        else:
            predictions[passenger_id] = 0

    return df, predictions

In [14]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
def check_accuracy(df, predictions):
    count = 0
    for i in range(len(predictions)):
        if predictions[i+1] == df.Survived[i]:
            count += 1
    accuracy = count / len(predictions)
    print("Accuracy =", accuracy)

In [43]:
df, predictions = simple_heuristic(path)

check_accuracy(df, predictions)

Accuracy = 0.7867564534231201

# Step 2: more complex heuristic

In [47]:
def complex_heuristic(file_path):
    predictions = {}
    df = pandas.read_csv(file_path)
    for passenger_index, passenger in df.iterrows():
        passenger_id = passenger['PassengerId']
        if passenger["Sex"] == "female" or passenger["Pclass"] == 1 and passenger["Age"] < 18:
            predictions[passenger_id] = 1
        else:
            predictions[passenger_id] = 0
    return df, predictions

In [48]:
df, predictions = complex_heuristic(path)

check_accuracy(df, predictions)

Accuracy = 0.7912457912457912

In [113]:
def custom_heuristic(file_path):

    predictions = {}
    df = pandas.read_csv(file_path)
    for passenger_index, passenger in df.iterrows():
     
        passenger_id = passenger["PassengerId"]
        
        if passenger["Sex"] == 'female' or passenger["Age"] < 18 and passenger["Pclass"] == 1:
            predictions[passenger_id] = 1
 
        elif passenger["Sex"] == 'male' and passenger["Pclass"] == 2 and passenger["Age"] < 15 :
            predictions[passenger_id] = 1
        
        else: 
            predictions[passenger_id] = 0
        
    return df, predictions

In [114]:
df, predictions = custom_heuristic(path)

check_accuracy(df, predictions)

Accuracy = 0.8013468013468014